node_modules/
dist/
package-lock.json
vite.config.js
.DS_Store       # macOS specific
*.log           # Log files
.npmrc
README.md
.vscode/
.env
webp-files/
bridge/node_modules/
bridge/Book2.csv
bridge/package.json
bridge/package-lock.json
.gitignore
.git-ftp.log
.git-ftp-ignore