node_modules/
# dist/ is ignored by default...
# !dist/ overrides that to allow tracking
dist/
!dist/
!dist/**

package-lock.json
vite.config.js
.DS_Store
*.log
.npmrc
README.md
.vscode/
.env
webp-files/
bridge/node_modules/
bridge/Book2.csv
bridge/package.json
bridge/package-lock.json
.gitignore
.git-ftp.log
.git-ftp-ignore
.htaccess
